* {
  font-family: "Roboto", sans-serif;
}

.inner-card {
  background-color: rgb(244, 136, 206);
  border: 1px solid rgb(230, 113, 29);
  padding: 2.2rem;
}

h1 {
  font-weight: bold;
}

p {
  margin-left: 2rem;
}

.outer-card {
    background-color: rgb(172, 255, 148);
    border: 1px solid rgb(230, 113, 29);
    padding: 2rem 0;
}
